

.wrapper {
    display: flex;
    margin-top: 2rem; /* Adjust as needed */
}

.wrapper a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
    margin-right: 20px;
}

.wrapper a span {
    position: relative;
    z-index: 2;
}

.wrapper a::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: steelblue;
    transition: all 0.35s;
}

.wrapper a:hover {
    color: white;
}

.wrapper a:hover::after {
    width: 100%;
}

/* Center the buttons on small devices */
@media (max-width: 768px) {
    .wrapper {
        justify-content: center;
    }
    
}
